.intro{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;

        .imgcontainer{
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50% ;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right; // this use to refecte the object container

            img{
              width: 90%;
              
            }
        }
        
    }
    .right{
        flex: 0.5;
        position: relative;

        .introwrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h1{
                font-size: 50px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
    
            }
            h3{
                font-size: 30px;

                span{
                    color: green;
                    font-size: inherit;
                }
                
                .ityped-cursor {
                    animation: blink 2s infinite;
                }
                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }

            }
        }

        a{
            position: absolute;
            bottom: 10px;
            left: 40%;
        }

        .downicon{
            width: 30px;
            font-size: xx-large;
            animation: arrowBlink 1s infinite;
        }

        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }



    }

}